/* -------------------------------------------------

-------------------------------
CALL-TO-ACTION DOWNLOAD BUTTONS	
-------------------------------

Item Category
- CSS3

Item Version
- 1.0

Date Created
- August 07, 2011

Author
- Pixus Design (Haziq Mir)

Author Profile
- http://codecanyon.net/user/PixusDesign/profile

Author Email
- pixus.support@gmail.com

------------------------------------------------- */


/* ----------------------------
GENERAL -----------------------
---------------------------- */

.downloadBtn {
	background-color: #f8f8f8;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 9px 20px;
	position: relative;

	-moz-transition: 0.2s ease-in-out all 0s;
	-o-transition: 0.2s ease-in-out all 0s;
	-webkit-transition: 0.2s ease-in-out all 0s;
	transition: 0.2s ease-in-out all 0s;
	
	background: -moz-linear-gradient(top, #fdfdfd, #fafafa 50%, #f8f8f8 50.1%, #ededed);
	background: -ms-linear-gradient(top, #fdfdfd, #fafafa 50%, #f8f8f8 50.1%, #ededed);
	background: -o-linear-gradient(top, #fdfdfd, #fafafa 50%, #f8f8f8 50.1%, #ededed);
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), color-stop(0.5, #fafafa), color-stop(0.51, #f8f8f8), to(#ededed) );
	background: -webkit-linear-gradient(top, #fdfdfd, #fafafa 50%, #f8f8f8 50.1%, #ededed);
	background: linear-gradient(top, #fdfdfd, #fafafa 50%, #f8f8f8 50.1%, #ededed);
	
	-khtml-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-khtml-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

.downloadBtn:hover {
	background-color: #f2f2f2;
	
	-khtml-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0px 0px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0px 0px 3px rgba(0,0,0,0.1);	
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0px 0px 3px rgba(0,0,0,0.1);	
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0px 0px 3px rgba(0,0,0,0.1);	
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0px 0px 3px rgba(0,0,0,0.1);
}

.downloadBtn:active, .downloadBtn:focus {
	background-color: #ededed;
	
	background: -moz-linear-gradient(top, #ededed, #f8f8f8 50%, #fafafa 50.1%, #fdfdfd);
	background: -ms-linear-gradient(top, #ededed, #f8f8f8 50%, #fafafa 50.1%, #fdfdfd);
	background: -o-linear-gradient(top, #ededed, #f8f8f8 50%, #fafafa 50.1%, #fdfdfd);
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), color-stop(0.5, #f8f8f8), color-stop(0.51, #fafafa), to(#fdfdfd) );
	background: -webkit-linear-gradient(top, #ededed, #f8f8f8 50%, #fafafa 50.1%, #fdfdfd);
	background: linear-gradient(top, #ededed, #f8f8f8 50%, #fafafa 50.1%, #fdfdfd);
	
	-khtml-box-shadow: 0px 1px 0px rgba(255,255,255,0.45),  0px 2px 3px rgba(0,0,0,0.1) inset, 0px 0px 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.45), 0px 2px 3px rgba(0,0,0,0.1) inset, 0px 0px 3px rgba(0,0,0,0.2) inset;
	-o-box-shadow: 0px 1px 0px rgba(255,255,255,0.45), 0px 2px 3px rgba(0,0,0,0.1) inset, 0px 0px 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.45), 0px 2px 3px rgba(0,0,0,0.1) inset, 0px 0px 3px rgba(0,0,0,0.2) inset;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.45), 0px 2px 3px rgba(0,0,0,0.1) inset, 0px 0px 3px rgba(0,0,0,0.2) inset;
}

	.downloadBtn span {
		background: transparent url('clouds.png') no-repeat scroll top left;
		color: #808080;
		display: block;
		padding: 0px 10px 0px 46px;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
	}

		.downloadBtn span strong {
			display: block;
			font-size: 15px;
			font-weight: bold;
			line-height: 22px;
		}


/* ----------------------------
COLORS ------------------------
---------------------------- */

/* ------------------
PURPLE --------------
------------------ */

.downloadBtn.purple span {
	background-position: 0px 0px;
}

	.downloadBtn.purple span strong  {
		color: #614261;
	}

/* ------------------
RED -----------------
------------------ */

.downloadBtn.red span {
	background-position: 0px -40px;
}

	.downloadBtn.red span strong  {
		color: #e3583d;
	}

/* ------------------
YELLOW --------------
------------------ */

.downloadBtn.yellow span {
	background-position: 0px -80px;
}

	.downloadBtn.yellow span strong  {
		color: #fbaa17;
	}
	
/* ------------------
MAGENTA -------------
------------------ */

.downloadBtn.magenta span {
	background-position: 0px -120px;
}

	.downloadBtn.magenta span strong  {
		color: #d96262;
	}

/* ------------------
GREEN ---------------
------------------ */

.downloadBtn.green span {
	background-position: 0px -160px;
}

	.downloadBtn.green span strong  {
		color: #a5ca39;
	}
	
/* ------------------
BLUE ----------------
------------------ */

.downloadBtn.blue span {
	background-position: 0px -200px;
}

	.downloadBtn.blue span strong  {
		color: #53acc3;
	}

/* ------------------
PINK ----------------
------------------ */
	
.downloadBtn.pink span {
	background-position: 0px -240px;
}

	.downloadBtn.pink span strong  {
		color: #ea7797;
	}
	
/* ------------------
BROWN ---------------
------------------ */

.downloadBtn.brown span {
	background-position: 0px -280px;
}

	.downloadBtn.brown span strong  {
		color: #8f6251;
	}
	
/* ------------------
TAN -----------------
------------------ */

.downloadBtn.tan span {
	background-position: 0px -320px;
}

	.downloadBtn.tan span strong  {
		color: #c8b799;
	}

/* ------------------
ORANGE --------------
------------------ */

.downloadBtn.orange span {
	background-position: 0px -360px;
}

	.downloadBtn.orange span strong  {
		color: #dd7f55;
	}

/* ------------------
GRAY ----------------
------------------ */

.downloadBtn.gray span {
	background-position: 0px -400px;
}

	.downloadBtn.gray span strong  {
		color: #a0a0a0;
	}

/* ------------------
BLACK ---------------
------------------ */

.downloadBtn.black span {
	background-position: 0px -440px;
}

	.downloadBtn.black span strong  {
		color: #4d4d4d;
	}